section.about
  .container
     .row
       .col-12(data-wow-duration="1s").wow.fadeInUp
          h2.text-center.title.mt-3.fa-3x.font-weight-bold.wow.fadeIn(data-wow-delay='0.2s' style='visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;')
            strong Our services
            .bottom
              i.fas.fa-users
       .col-md-8.m-auto(data-wow-duration="1s").wow.fadeInUp    
         p
           | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio numquam alias nostrum, perspiciatis neque.
           span.text-nowrap
             |lorem ipsum dolor sit amet.  
     .row.mt-5
       .col-lg-4(data-wow-duration="0.7s").wow.bounceInUp
         .servise-card
           i.fal.fa-cogs
           <h3>Технологии</h3>
           <p>Мы следим за развитием технологий в области разработки сайтов и стремимся эффективно применять их в своих проектах.</p>
       .col-lg-4(data-wow-duration="1s").wow.bounceInUp
         .servise-card
           i.fal.fa-thumbs-up
           <h3>КАЧЕСТВО</h3>
           <p>Мы следим за развитием технологий в области разработки сайтов и стремимся эффективно применять их в своих проектах.</p>
       .col-lg-4(data-wow-duration="1.3s").wow.bounceInUp
         .servise-card
           i.fal.fa-gem
           <h3>ГАРАНТИЯ</h3>
           <p>Мы следим за развитием технологий в области разработки сайтов и стремимся эффективно применять их в своих проектах.</p>   