header
    .cloud
    canvas#header
    .container
      .header__title
        h2
          | Bir JAMOA, Yagona Maqsad
        h1(data-wow-duration="2s").wow.bounceInUp
          span(style="color:#0095d5;").font-weight-bold Cloud
          span(style="color:#818181;").font-weight-bold Nine
        a(href="#!" style="box-shadow:none;").nav-links.btn
          i.fal.fa-chevron-down.fa-4x  