section.mini
    .container
        .row.mb-4
            .col-lg-8
                p
                    | Lorem ipsum dolor sit amet.
            .col-lg-4
                a.btn.btn-info(href="#!")
                    | Contact us        