nav#nav.navbar.navbar-expand-lg.navbar-light.grey.lighten-5
      a.navbar-brand(href='#') 
        img(src="/images/Nine.png", alt="")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mr-5
          li.nav-item
            a.nav-link.active(href='#') About 
          li.nav-item
            a.nav-link(href='#') Technology
          li.nav-item
            a.nav-link(href='#') Our Team
          li.nav-item
            a.nav-link(href='#') Our services 
          li.nav-item
            a.nav-link(href='#') Pricing
          li.nav-item
            a.nav-link(href='#') Our work
          li.nav-item
            a.nav-link(href='#') Contact us