section.servis
  .overlay
  .container
    h3.text-center.title.mt-3.mb-4.white-text.fa-3x.font-weight-bold.wow.fadeIn(data-wow-delay='0.2s' style='visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;')
        strong Our services
    .row.wow.fadeIn(data-wow-delay='0.4s' style='visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;')
        // First column
        .col-md-6.mb-4.text-center
            // Panel
            .card.card-body.text-left.white.hoverable
                p.font-weight-bold.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                    i.fas.fa-square.cyan-text.mr-2(aria-hidden='true')
                    strong Web design
                p.grey-text.font-small.mx-4
                    | Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente earu
                    | proident. Ad vegan excepteur butcher vice lomo leggings.
                p.font-small.font-weight-bold.cyan-text.mx-4.mb-0
                    a read more
                p
            // /.Panel
            // /First column
            // Second column
        .col-md-6.mb-4.text-center
            .card.card-body.text-left.white.hoverable
                p.font-weight-bold.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                    i.fas.fa-square.cyan-text.mr-2(aria-hidden='true')
                    strong Development
                p.grey-text.font-small.mx-4
                    | Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente earu
                    | proident. Ad vegan excepteur butcher vice lomo leggings.
                p.font-small.font-weight-bold.cyan-text.mx-4.mb-0
                    a read more
                p
            // /.Panel
            // /.Second column
            // Third column
        .col-md-6.mb-4.text-center
            // Panel
            .card.card-body.text-left.white.hoverable
                p.font-weight-bold.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                    i.fas.fa-square.cyan-text.mr-2(aria-hidden='true')
                    strong Branding
                p.grey-text.font-small.mx-4
                    | Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente earu
                    | proident. Ad vegan excepteur butcher vice lomo leggings.
                p.font-small.font-weight-bold.cyan-text.mx-4.mb-0
                    a read more
                p
        // /.Panel
        // /.Third column
        // Fourth column
        .col-md-6.mb-4.text-center
            .card.card-body.text-left.white.hoverable
                p.font-weight-bold.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                    i.fas.fa-square.cyan-text.mr-2(aria-hidden='true')
                    strong Marketing
                p.grey-text.font-small.mx-4
                    | Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente earu
                    | proident. Ad vegan excepteur butcher vice lomo leggings.
                p.font-small.font-weight-bold.cyan-text.mx-4.mb-0
                    a read more
                    p
            // /.Panel
            // /.Fourth column
                                
                