section.team
  .container
    .row
      .col-12(data-wow-duration="1s").wow.fadeInUp
        h2.text-center.title.mt-3.fa-3x.font-weight-bold.wow.fadeIn(data-wow-delay='0.2s' style='visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;')
          strong Our Team
          .bottom
              i.fas.fa-users
      .col-md-8.m-auto(data-wow-duration="1s").wow.fadeInUp    
         p
           | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio numquam alias nostrum, perspiciatis neque.
           span.text-nowrap
             |lorem ipsum dolor sit amet.
    .row.text-center
        // Grid column
        .col-lg-3.col-md-6.mb-4
          .card.card-body
            .avatar.mx-auto.mt-3.mb-3
                img.rounded-circle(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg' alt='First sample avatar image')
            h6.font-weight-bold.title Anna Deynah
            p.font-small.grey-text Graphic designer
            ul.list-unstyled
                // Facebook
                a.p-2.m-2.fa-lg.fb-ic
                i.fab.fa-facebook-f.orange-text  
                // Twitter
                a.p-2.m-2.fa-lg.tw-ic
                i.fab.fa-twitter.orange-text  
                // Instagram
                a.p-2.m-2.fa-lg.ins-ic
                i.fab.fa-instagram.orange-text  
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4
          .card.card-body
            .avatar.mx-auto.mt-3.mb-3
                img.rounded-circle(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg' alt='First sample avatar image')
            h6.font-weight-bold.title John Doe
            p.font-small.grey-text Web developer
            ul.list-unstyled
                // Facebook
                a.p-2.m-2.fa-lg.fb-ic
                i.fab.fa-facebook-f.orange-text  
                // Instagram
                a.p-2.m-2.fa-lg.ins-ic
                i.fab.fa-instagram.orange-text  
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4
          .card.card-body
            .avatar.mx-auto.mt-3.mb-3
                img.rounded-circle(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg' alt='First sample avatar image')
            h6.font-weight-bold.title Maria Smith
            p.font-small.grey-text Photographer
            ul.list-unstyled
                // Facebook
                a.p-2.m-2.fa-lg.fb-ic
                i.fab.fa-facebook-f.orange-text  
                // Instagram
                a.p-2.m-2.fa-lg.ins-ic
                i.fab.fa-instagram.orange-text  
                // Dribbble
                a.p-2.m-2.fa-lg.ins-ic
                i.fab.fa-dribbble.orange-text  
        // Grid column
        // Grid column
        .col-lg-3.col-md-6.mb-4
          .card.card-body
            .avatar.mx-auto.mt-3.mb-3
                img.rounded-circle(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg' alt='First sample avatar image')
            h6.font-weight-bold.title Tom Adams
            p.font-small.grey-text Backend developer
            ul.list-unstyled
                // Facebook
                a.p-2.m-2.fa-lg.fb-ic
                i.fab.fa-facebook-f.orange-text  
                // Github
                a.p-2.m-2.fa-lg.ins-ic
                i.fab.fa-github.orange-text  
        // Grid column
