section.tech
  .container
    .row
      .col-12(data-wow-duration="1s").wow.fadeInUp
        h2.text-center.title.mt-3.fa-3x.font-weight-bold.wow.fadeIn(data-wow-delay='0.2s' style='visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;')
          strong Our services
          .bottom
              i.fas.fa-users
      .col-md-8.m-auto(data-wow-duration="1s").wow.fadeInUp    
         p
           | Lorem ipsum dolor sit, amet consectetur adipisicing elit. At distinctio numquam alias nostrum, perspiciatis neque.
           span.text-nowrap
             |lorem ipsum dolor sit amet.        
    .row
      .owl-carousel
        a(href="https://www.mongodb.com/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/1.png", alt="")
          h4 MongoDb
        a(href="https://nodejs.org/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/2.png", alt="")
          h4 NODEJS
        a(href="https://reactjs.org/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/3.png", alt="")
          h4 REACTJS
        a(href="http://vuejs.org/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/4.png", alt="")
          h4 VUEJS
        a(href="https://www.javascript.com/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/5.png", alt="")
          h4 JAVASCRIPT
        a(href="https://getbootstrap.com/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/6.png", alt="")
          h4 Bootstrap
        a(href="https://mdbootstrap.com/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/7.png", alt="")
          h4 MDBootstrap
        a(href="https://www.php.net/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/8.png", alt="")
          h4 php
        a(href="http://wordpress.org/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/9.png", alt="")
          h4 wordpress
        a(href="https://sass-scss.ru/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/11.png", alt="")
          h4 sass
        a(href="http://lesscss.org/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/12.png", alt="")
          h4 less
        a(href="https://git-scm.com/" target="_blank" ).owl-items
          div  
            img(src="/images/tech/13.png", alt="")
          h4 git                                    
