extends layout

block content
  include layouts/header.pug
  include layouts/navbar.pug
  include layouts/about.pug
  include layouts/miniSection.pug
  include layouts/tech.pug
  include layouts/team.pug
  include layouts/servis.pug
  include layouts/pricing.pug
  include layouts/portfolio.pug
  include layouts/form.pug
  include layouts/footer.pug





  script(src="./js/canvas.js")
  
